@font-face {
  font-family: "rajdhaniregular";
  src: url("./font/rajdhani-regular-webfont.woff2") format("woff2"),
    url("./font/rajdhani-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "rajdhaniregular";
  color: white;
  background-color: rgb(41, 41, 41);
  margin: 0;
}

table {
  width: 400px;
}

td,
th {
  border: 2px solid rgba(255, 255, 255, 0.342);
}

a {
  display: inline-block;
  color: white;
  text-decoration: underline;
}

.hidden {
  display: none;
}

header {
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 10px;
}

footer {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}
footer > * {
  display: inline-block;
  margin-right: 150px;
}

header > h1 {
  margin: 0;
  padding: 10px;
}
header > p {
  margin: 0;
}

#content {
  margin: 20px;
  text-align: center;
}

.imgBu {
  display: block;
  margin-bottom: 25px;
  margin-right: auto;
  margin-left: auto;
}

#content > * {
  margin-left: auto;
  margin-right: auto;
}

#navBar {
  background-color: rgba(0, 0, 0, 0.1);
  list-style-type: none;
  padding: 0px;
  margin: 0;
}

#navBar > li {
  display: inline-block;
}

#navBar > li > a {
  padding: 10px;
  text-decoration: none;
}

#navBar > li:hover {
  background-color: rgb(55, 58, 61);
}

#msBu{
  background-color: slategray;
  border-style: solid;
  border-width: 0;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

#msBu:active{
  background-color: rgb(96, 108, 119);
}